flask
flask_login
flask_bootstrap
flask_mail
flask_sqlalchemy
flask_wtf
email_validator
gunicorn
itsdangerous
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability