flask
flask_login
flask_bootstrap
flask_mail
flask_sqlalchemy
flask_wtf
email_validator
gunicorn
itsdangerous
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability