{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<style>
  .navbar-toggle {
    float: inline-start;
  }
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Esos Book Club</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('index') }}">Home</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<h3 class="page-header">Welcome, {{ name }}</h3>

{% if fav_book_num == 0 %}
<h1>Add ypur favorite books </h1>

{% endif %}

<!--{% for x in range(fav_book_num) %}-->
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <button type="button" class="btn btn-primary_new" id="img_btn" data-toggle="modal" data-target="#ModalLong{{fav_books[x].id}}"><img
        src="https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg" width="180"
        height="240" class="img-responsive" alt="Book 1"></button>

    <h4>{{fav_books[x].book_name}}</h4>
    <span class="text-muted">BY: {{fav_books[x].author}}</span>


  </div>
  <!--{% endfor %}-->
</div>
</div>
</div>

<div class="table-responsive">
  <h2 class="sub-header">Other Read Books</h2>
  <table class="table table-hover table-fixed">
    {% if num_of_books == 0 %}
    <h3>you Don't have any books in your collection yet.</h3>
    <p>CLick the button below to add books</p>
    {% endif %}
    <thead>
      <tr class="d-flex">
        <th>#</th>
        <th>Book Name</th>
        <th>Date Added</th>
        <th>Latest Update</th>
      </tr>

    </thead>
    {% for book_num in range(num_of_books) %}
    <tbody>

      <td>{{books[book_num].id}}</td>
      <td>{{books[book_num].book_name}}</td>
      <td>{{books[book_num].time_stamp}}
      </td>
      <td>3/12/2020</td>
      <td>
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#modal{{books[book_num].id}}"
          data-whatever="@getbootstrap">Book info</button>
      </td>
      <td>
        <a href="delete/{{ub[0]}}" class="btn btn-danger">Delete</a>
      </td>
      {% endfor %}
    </tbody>
  </table>



  <!--img_btn trigger-->
  {% for x in range(fav_book_num) %}
  <div class="modal fade" id="ModalLong{{fav_books[x].id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">{{fav_books[x].book_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <label for="book_author">Book Title:
            <input type="text" value="{{fav_books[x].book_name}}" autocomplete="off" id="book_author"
              class="form-control" placeholder="Book Title" aria-label="Book Title" aria-describedby="basic-addon1" /></label>
          <div class="input-group-append">
            <span class="input-group-text"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-save">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endfor %}


  <!--Button trigger for btn (Book info)-->
  {% for book_num in range(num_of_books) %}
  <div class="modal fade" id="modal{{books[book_num].id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="input-group-prepend">
            <label for="book_title">Book Title:
              <input type="text" value="{{books[book_num].book_name}}" autocomplete="off" id="book_title"
                class="form-control" placeholder="Book Title" aria-label="Book Name"
                aria-describedby="basic-addon1" /></label>
          </div>

          <div class="input-group mb-3">
            <label for="book_author">Author:
              <input type="text" value="{{books[book_num].author}}" autocomplete="off" id="book_author"
                class="form-control" placeholder="Author" aria-label="Author" aria-describedby="basic-addon1" /></label>
            <div class="input-group-append">
              <span class="input-group-text"></span>
            </div>
          </div>

          <div class="input-group mb-3">
            <label for="category">Category:
              <input type="text" value="{{books[book_num].category}}" autocomplete="off" id="category"
                class="form-control" placeholder="Author" aria-label="Author" aria-describedby="basic-addon1" /></label>
            <div class="input-group-append">
              <span class="input-group-text"></span>
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Summary:</span>
            </div>
            <textarea class="form-control" placeholder="Write a short summary about the book"
              aria-label="Summary of the book">{{books[book_num].book_desc}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

  {% endblock %}