{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Dashboard
{% endblock %}
{% block header %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}"> 
{{super()}}
<style>
  .col-xs-6 {
  width: 30%;
}

.navbar-toggle {
    position: relative;
    float: none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand {
    float: inline-end;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}




</style>
{% endblock %}

{% block content %}

<!--Flash messages-->
{% with messages = get_flashed_messages(category_filter=["success"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">x</span>
  </button>
  {{message}}
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["warning"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">x</span>
  </button>
  {{message}}
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["info"]) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissable" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">x</span>
  </button>
  {{message}}
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('dashboard') }}">My Books</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('index') }}">Home</a></li>
        <!--<li><a href="#">Settings</a></li>-->
        <!--<li><a href="{{ url_for('profile') }}">Profile</a></li>-->
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
<h3 class="page-header">Welcome, {{ name }}</h3>

{% for x in range(fav_book_num) %}
<div class="row placeholder style">
  <!--<div class="row placeholder style">-->
  <div class="col-xs-6 col-sm-3 placeholder book-styles">
    <button type="button" class="btn btn-primary_new" id="img_btn" data-toggle="modal"
      data-target="#BookInfoModal{{fav_books[x].id}}"><img src="{{ub_fav_books[x].book_img_url}}" width="100"
        height="40" class="img-responsive" alt="{{fav_books[x].book_name}}"></button>

    <h4>{{fav_books[x].book_name}}</h4>
    <span class="text-muted">BY: {{fav_books[x].author}}</span>


  </div>
  {% endfor %}
</div>

<div class="table-responsive">
  <h2 class="sub-header">Other Read Books</h2>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addbookmodal"
    data-whatever="@getbootstrap">New Book</button>
  <table class="table table-hover table-fixed">
    <thead>
      <tr class="d-flex th-style">
        <th>Book Name</th>
        <th>Date Added</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    {% for book_num in range(num_of_books) %}
    <tbody>

      <td>{{books[book_num].book_name}}</td>

      <td>{{ub[book_num].time_added}}</td>
      <td>{{ub[book_num].last_updated}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#BookInfoModal{{books[book_num].id}}" data-whatever="@getbootstrap">Book info</button>
      </td>
      <td>
        <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete{{books[book_num].id}}">
          Delete
        </button>

      </td>
      {% endfor %}

      <td>
      </td>
    </tbody>
  </table>



  <!--                                                      All the models                                                          -->

  <!--Delete btn pop up confirmation normal book-->
  {% for book_num in range(num_of_books) %}
  <div class="modal fade" id="confirm-delete{{books[book_num].id}}" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
        </div>

        <div class="modal-body">
          <p>You are about to delete {{books[book_num].book_name}}, from your book collection</p>
          <p>This procedure is irreversible.</p>
          <p>Do you want to proceed?</p>
          <p class="debug-url"></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="delete/{{books[book_num].id}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}




  <!--img_btn trigger-->
  {% for x in range(fav_book_num) %}
  <div class="modal fade" id="BookInfoModal{{fav_books[x].id}}" tabindex="-1" role="dialog"
    aria-labelledby="ModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/update-fav-book/{{fav_books[x].id}}" class="form-add_content" method="POST"> {{
            form.hidden_tag() }}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Book Title:</label>
              <input name="book_name" type="text" value="{{fav_books[x].book_name}}" autocomplete="off"
                id="fav_book_author" class="form-control" placeholder="Author" aria-label="Author"
                aria-describedby="basic-addon1" /></label>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Author:</label>
              <input name="author" type="text" value="{{fav_books[x].author}}" autocomplete="off" id="fav_book_author"
                class="form-control" placeholder="Author" aria-label="Author" aria-describedby="basic-addon1" /></label>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Category:</label>
              <input name="category" type="text" value="{{fav_books[x].category}}" autocomplete="off"
                id="fav_book_author" class="form-control" placeholder="Author" aria-label="Author"
                aria-describedby="basic-addon1" /></label>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Summary:</label>
              <textarea name="summary" class="form-control" placeholder="Write a short story about the book"
                id="message-text">{{ub_fav_books[x].book_summary}}</textarea>
            </div>
            <a href="remove-from-fav-group/{{fav_books[x].id}}">remove from fav book</a>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              {{ wtf.form_field(updateform.Submit) }}

              <button class="btn btn-danger" data-toggle="modal" id="fav_dlt_btn"
                data-target="#confirm-delete{{fav_books[x].id}}" data-dismiss="modal">
                Delete
              </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<!--Delete btn pop up confirmation favorite book-->
{% for x in range(fav_book_num) %}
<div class="modal fade" id="confirm-delete{{fav_books[x].id}}" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
      </div>

      <div class="modal-body">
        <p>You are about to delete {{fav_books[x].book_name}},</p>
        <p>This procedure is irreversible.</p>
        <p>Do you want to proceed?</p>
        <p class="debug-url"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="delete-fav-book/{{fav_books[x].id}}" class="btn btn-danger">Delete</a>


      </div>
    </div>
  </div>
</div>
{% endfor %}


<!--Button trigger for btn (Book info)-->
{% for book_num in range(num_of_books) %}
<div class="modal fade" id="BookInfoModal{{books[book_num].id}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/update/{{books[book_num].id}}" class="form-add_content" method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Book Title:</label>
            <input name="book_name" type="text" value="{{books[book_num].book_name}}" autocomplete="off"
              id="book_author" class="form-control" placeholder="Author" aria-label="Author"
              aria-describedby="basic-addon1" /></label>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Author:</label>
            <input name="author" type="text" value="{{books[book_num].author}}" autocomplete="off" id="book_author"
              class="form-control" placeholder="Author" aria-label="Author" aria-describedby="basic-addon1" /></label>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Category:</label>
            <input name="category" type="text" value="{{books[book_num].category}}" autocomplete="off" id="book_author"
              class="form-control" placeholder="Author" aria-label="Author" aria-describedby="basic-addon1" /></label>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Summary:</label>
            <textarea name="summary" class="form-control" placeholder="Write a short story about the book"
              id="message-text">{{ub[book_num].book_summary}}</textarea>
          </div>
          <a href="add-to-fav-group/{{books[book_num].id}}">Add to favourite</a>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button class="btn btn-secondary" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endfor %}




<!--Add new book Modal-->
<div class="modal fade" id="addbookmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog model-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-add_content" method="POST">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.Title) }}
          {{ wtf.form_field(form.Author) }}
          {{ wtf.form_field(form.Category) }}
          {{ wtf.form_field(form.Summary) }}
          {{wtf.form_field(form.add_to_fav) }}

      </div>
      <div class="modal-footer">
        {{wtf.form_field(form.Submit)}}
        <a href="dashboard" class="btn btn-danger">Cancel</a>
      </div>
      </form>
    </div>
  </div>
</div>
</div>



{% endblock %}